USE [master]
GO
/****** Object:  Database [BDSISTR]    Script Date: 24/09/2023 14:54:54 ******/
CREATE DATABASE [BDSISTR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDSISTR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDSISTR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDSISTR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDSISTR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDSISTR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDSISTR]
GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 24/09/2023 14:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[ID] [int] NOT NULL,
	[PRIMER_NOMBRE] [varchar](50) NULL,
	[SEGUNDO_NOMBRE] [varchar](50) NULL,
	[PRIMER_APELLIDO] [varchar](50) NULL,
	[SEGUNDO_APELLIDO] [varchar](50) NULL,
	[NIVEL] [varchar](50) NULL,
	[GRADO] [varchar](20) NULL,
	[SECCIÓN] [varchar](3) NULL,
	[SEXO] [varchar](15) NULL,
	[DNI] [varchar](8) NULL,
	[TELÉFONO] [varchar](9) NULL,
	[DIRECCIÓN] [varchar](60) NULL,
	[NACIMIENTO] [date] NULL,
	[OBSERVACIONES] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR]    Script Date: 24/09/2023 14:54:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[INSERTAR] 
@ID int,
@PRIMER_NOMBRE VARCHAR (50),
@SEGUNDO_NOMBRE VARCHAR (50),
@PRIMER_APELLIDO VARCHAR (50),
@SEGUNDO_APELLIDO VARCHAR (50),
@NIVEL VARCHAR (50),
@GRADO VARCHAR (20),
@SECCIÓN VARCHAR (3),
@SEXO VARCHAR (15),
@DNI VARCHAR (8),
@TELÉFONO VARCHAR (9),
@DIRECCIÓN VARCHAR (60),
@NACIMIENTO DATE,
@OBSERVACIONES VARCHAR(100)
AS 
INSERT INTO Estudiante VALUES (@ID,@PRIMER_NOMBRE, @SEGUNDO_NOMBRE,@PRIMER_APELLIDO, @SEGUNDO_APELLIDO, @NIVEL, @GRADO, @SECCIÓN, @SEXO, @DNI, @TELÉFONO, @DIRECCIÓN, @NACIMIENTO, @OBSERVACIONES)
GO
/****** Object:  StoredProcedure [dbo].[MOSTRAR]    Script Date: 24/09/2023 14:54:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MOSTRAR]
AS 
GO
/****** Object:  StoredProcedure [dbo].[SP_Buscar]    Script Date: 24/09/2023 14:54:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Buscar]
@Palabras NVARCHAR(100)
AS
SELECT * FROM Estudiante
WHERE LEFT (PRIMER_NOMBRE, LEN(@Palabras)) = @Palabras; 
GO
/****** Object:  StoredProcedure [dbo].[SP_Eliminar]    Script Date: 24/09/2023 14:54:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Eliminar]
@ID INT
AS
DELETE Estudiante WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_Modificar]    Script Date: 24/09/2023 14:54:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Modificar]
@ID int,
@PRIMER_NOMBRE VARCHAR (50),
@SEGUNDO_NOMBRE VARCHAR (50),
@PRIMER_APELLIDO VARCHAR (50),
@SEGUNDO_APELLIDO VARCHAR (50),
@NIVEL VARCHAR (50),
@GRADO VARCHAR (20),
@SECCIÓN VARCHAR (3),
@SEXO VARCHAR (15),
@DNI VARCHAR (8),
@TELÉFONO VARCHAR (9),
@DIRECCIÓN VARCHAR (60),
@NACIMIENTO DATE,
@OBSERVACIONES VARCHAR(100)
AS 
UPDATE Estudiante SET PRIMER_NOMBRE = @PRIMER_NOMBRE, SEGUNDO_NOMBRE = @SEGUNDO_NOMBRE, PRIMER_APELLIDO = @PRIMER_APELLIDO, SEGUNDO_APELLIDO = @SEGUNDO_APELLIDO, NIVEL = @NIVEL, GRADO = @GRADO, SECCIÓN = @SECCIÓN, SEXO = @SEXO, DNI = @DNI, TELÉFONO = @TELÉFONO, DIRECCIÓN = @DIRECCIÓN, NACIMIENTO = @NACIMIENTO, OBSERVACIONES = @OBSERVACIONES
WHERE ID = @ID
GO
USE [master]
GO
